USE [master]
GO
/****** Object:  Database [db2026692]    Script Date: 25/02/2021 07:38:24 p.m. ******/
CREATE DATABASE [db2026692]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db2026692', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.LUNA\MSSQL\DATA\db2026692.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db2026692_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.LUNA\MSSQL\DATA\db2026692_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db2026692].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db2026692]
GO
/****** Object:  Table [dbo].[articulos]    Script Date: 25/02/2021 07:38:24 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[articulos](
	[codigo] [int] NOT NULL,
	[descripcion] [varchar](50) NULL,
	[precio] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
